
.main-sec-2{
  display:flex;
  justify-content:space-around;
  margin-bottom:6rem;
}
.main-sec-2-list{
  display:flex;
  flex-direction: column;
}
.main-sec-2-list div{
  display:flex;
  align-items:center;
  margin-bottom:1.5rem;
  font-weight:200;
  color:var(--text-sec-color);
  font-size:1rem;
}
.main-sec-2-col-2{
  display:flex;
  flex-direction: column;
  justify-content:center;
  width:35%;
}
.main-sec-2-col-2 h1{
  color:var(--text-primary-color);
  font-weight: 500;
  font-size:clamp(1.7rem, 3vw, 3.3rem);
  line-height:clamp(2rem, 5vw, 5rem);
  margin-bottom:1rem;
}
.main-sec-2-col-2 h5{
  color:var(--text-sec-color);
  font-size:clamp(1rem, 1vw, 3.3rem);
  font-weight: 200;
  line-height:clamp(1.5rem, 1vw, 2rem);
  margin-bottom:clamp(2rem,1vw,3rem);
}
