:root {
  --primary-color: #f53855;
  --text-primary-color: #0b132a;
  --text-sec-color: #4f5665;
  --bg-primary-color: #ffffff;
  --bg-sec-color: #4f566509;
}
body {
  margin: 0;
  align-items: center;
}
.main-sec-1 {
  display: flex;
  align-items: center;
}
.main-sec-1-col-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-sec-1-container {
  margin: 0 7rem;
}
.main-sec-1-col-1 h1 {
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: clamp(1.3rem, 3vw, 3.3rem);
  line-height: clamp(2rem, 5vw, 5rem);
  margin-bottom: 1rem;
}
.main-sec-1-col-1 span {
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 3.6rem);
}
.main-sec-1-col-1 span.lasles {
  color: #4f5665f3;
  font-weight: 500;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.main-sec-1-col-1 h4 {
  color: var(--text-sec-color);
  font-size: clamp(0.8rem, 1vw, 3.3rem);
  font-weight: 200;
  line-height: clamp(1.5rem, 1vw, 2rem);
  margin-bottom: clamp(2rem, 1vw, 3rem);
}
.main-sec-1-col-1 button {
  padding: clamp(1rem, 2vw, 1.3rem) 0;
  width: 15rem;
  border-radius: 0.7rem;
  border: none;
  background-color: #fc0000;
  font-weight: bold;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  white-space: nowrap;
  color: white;
  box-shadow: 0rem 2rem 4rem -1.5rem #fc0026;
}
.main-sec-1-row-2 {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  margin: 6rem 0;
  margin-bottom: 8rem;
  box-shadow: 0rem 2rem 4rem -1.5rem #4f566563;
}
.main-sec-1-row-2 div {
  display: flex;
  align-items: center;
}
.main-sec-1-row-2-col-2 {
  border-right: solid #4f566515 2.5px;
  border-left: solid #4f566515 2.5px;
  padding: 2rem 7rem;
}
.main-sec-1-row-2 div div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
}
.main-sec-1-row-2 div div h4 {
  font-weight: 100;
  color: var(--text-sec-color);
  margin-top: 0.5rem;
  font-size: clamp(0.9rem, 2vw, 1rem);
}
.main-sec-1-row-2 div div h2 {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
}
.main-sec-5 img {
  width: 100%;
}
