.main-sec-3{
  background-color:var(--bg-sec-color);
}
.main-sec-3-header{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding:6rem;
}
.main-sec-3-header h1{
  color:var(--text-primary-color);
  font-weight: 500;
  font-size:clamp(1.7rem, 3vw, 3.3rem);
  line-height:clamp(2rem, 5vw, 5rem);
  margin-bottom:1rem;
}
.main-sec-3-header h5{
  color:var(--text-sec-color);
  font-size:clamp(1rem, 1vw, 3.3rem);
  font-weight: 200;
  line-height:clamp(1.5rem, 1vw, 2rem);
  margin-bottom:clamp(2rem,1vw,3rem);
  text-align:center;
}
.main-sec-3-body{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:3rem;
  justify-content:space-between;
}
.free_plan{
  border:#DDDDDD solid 2px;
  padding:4rem;
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color:var(--bg-primary-color);
}
.standard_plan{
  border:#DDDDDD solid 2px;
  padding:4rem;
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color:var(--bg-primary-color);
}
.premium_plan{
  border:#F53838 solid 2px;
  padding:4rem;
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color:#FFFFFF;
}
.main-sec-3-body div img{
  margin-bottom:3rem;
}
.main-sec-3-body div h3{
  margin-bottom:3rem;
}
.main-sec-3-body div h5{
  margin-bottom:1rem;
  font-size:1.4rem;
}
.main-sec-3-body div button{
  padding:.7rem 4rem;
  border-radius: 5rem;
  border:#F53855 solid 2px;
  color:var(--primary-color);
  background-color: var(--bg-primary-color);;
  font-weight:900;
  font-size:1rem;
}
.main-sec-3-body .premium_plan button{
  background-color:#F53855;
  box-shadow: 0rem 2rem 4rem -.8rem #fc0026;
  border:none;
  color: var(--bg-primary-color);;
  border:#F53855 solid 2px;
}
.main-sec-3-body div span{
  font-size:1.4rem;
  font-weight:900;
  color:black
}