@media(max-width:767px){
  .main-sec-4-header .global{
    width:30rem;
    margin-bottom:6rem;
  }
  .main-sec-4-header .sponsor{
    width:28rem;
  }
}
@media(min-width:768px){
  .main-sec-4-header .global{
    width:48rem;
    margin-bottom:6rem;
  }
  .main-sec-4-header .sponsor{
    width:48rem;
  }
}
@media(min-width:1024px){
  .main-sec-4-header .global{
    width:60rem;
    margin-bottom:6rem;
  }
  .main-sec-4-header .sponsor{
    width:60rem;
  }
}