@media(max-width:767px){
  .main-sec-5 img{
    width:28rem;
  }
  .main-sec-5 .subscribe-now{
    position:absolute;
    left:.6rem;
    right:.6rem;
    border-radius:.5rem;
    bottom:-10rem;
    width:28rem;
  }
}