@media(max-width:767px){
  .main-sec-2{
    margin:0 2rem;
    position:relative;

  }
  .main-sec-2-col-2{
    width:100%;
  }
  .main-sec-2 .main-sec-2-pic{
    display:none;
  }
  .main-sec-2::before{
    content:"";
    position:absolute;
    background:url(/img/Illustration\ 1.png) no-repeat;
    inset: 0;
    z-index:-1;
    filter:blur(30px);
  }
}